body {
    font-size: 18px;
}

thead tr th {
    background-color: darkgray;
    font-size: 18px;
    color: navy;
    text-transform: uppercase;
}

table {
    margin: auto;
    width: 50%;
}

td {
    text-transform: capitalize;
}

.location-td {
    width: 20%;
    text-align: center;
}

.picture-td {
    width: 20%;
}

.img-style {
    margin-left: 20px;
    width: 75%;
}
